<div ng-cloak>
    <div class="container-fluid">
        <div class="col-md-offset-4 col-md-4" ng-switch="lastStatus.status">

            <h1 translate="main.message" translate-values="{status: '{{lastStatus.status}}', time: getTime(), css: css}"></h1>

            <h2 ng-switch-when="FREE" translate="main.info.free"></h2>
            <h2 ng-switch-when="OCCUPIED" translate="main.info.occupied"></h2>
            <h2 ng-switch-when="UNAVAILABLE" translate="main.info.unavailable"></h2>

            <div class="alert alert-dismissible alert-warning" ng-switch-when="UNAVAILABLE">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Warning!</h4>
                <p translate="main.noservice"></p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-4 col-md-4" ng-switch="autoupdate">
                <div class="togglebutton pull-left">
                    <label for="autoupdate">
                        <input id="autoupdate" type="checkbox" checked="" ng-model="autoupdate">
                        <span class="text-primary" translate="main.autoupdate.label">Status autoupdate</span>
                        <span class="switch-descr text-muted" ng-switch-when="true"
                              translate="main.autoupdate.on"></span>
                        <span class="switch-descr text-muted" ng-switch-when="false"
                              translate="main.autoupdate.off"></span>
                    </label>
                </div>
                <a href="#" ng-click="refresh()" class="btn btn-raised btn-lg btn-primary pull-right"
                   ng-switch-when="false" translate="main.autoupdate.button">Refresh</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="togglebutton pull-left">
                    <label for="notify" ng-switch="notify">
                        <input id="notify" type="checkbox" checked="" ng-model="notify">
                        <span class="text-primary" translate="main.notify.label">Notifications</span>
                        <span class="switch-descr text-muted" ng-switch-when="true" translate="main.notify.on"></span>
                        <span class="switch-descr text-muted" ng-switch-when="false" translate="main.notify.off"></span>
                    </label>
                </div>
                <a href="javascript:void(0);" ng-click="notificationTest()" translate="main.notify.button" class="btn btn-raised btn-primary btn-sm pull-right">Test</a>
            </div>
        </div>
    </div>
</div>
