
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myParameterLabel" translate="ifootballApp.parameter.home.createOrEditLabel">Create or edit a Parameter</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="parameter.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ifootballApp.parameter.key" for="field_key">Key</label>
            <select class="form-control" name="key" ng-model="parameter.key" id="field_key" required>
                <option value="VIBRATION_AMPLITUDE_THRESHOLD" translate="ifootballApp.ParameterKey.VIBRATION_AMPLITUDE_THRESHOLD">VIBRATION_AMPLITUDE_THRESHOLD</option>
                <option value="VIBRATION_COUNT_THRESHOLD" translate="ifootballApp.ParameterKey.VIBRATION_COUNT_THRESHOLD">VIBRATION_COUNT_THRESHOLD</option>
                <option value="VIBRATION_ANALYSE_INTERVAL" translate="ifootballApp.ParameterKey.VIBRATION_ANALYSE_INTERVAL">VIBRATION_ANALYSE_INTERVAL</option>
            </select>
            <div ng-show="editForm.key.$invalid">
                <p class="help-block"
                    ng-show="editForm.key.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="ifootballApp.parameter.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="parameter.type" id="field_type" required>
                <option value="STRING" translate="ifootballApp.ParameterType.STRING">STRING</option>
                <option value="DECIMAL" translate="ifootballApp.ParameterType.DECIMAL">DECIMAL</option>
                <option value="FLOAT" translate="ifootballApp.ParameterType.FLOAT">FLOAT</option>
                <option value="BOOLEAN" translate="ifootballApp.ParameterType.BOOLEAN">BOOLEAN</option>
                <option value="DATE" translate="ifootballApp.ParameterType.DATE">DATE</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="ifootballApp.parameter.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                    ng-model="parameter.value"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
